[tool.poetry]
name = "pretix"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]

[tool.poetry.dependencies]
python = "^3.8"
pretix-covid-certificates = ">=2.0.0"

[build-system]
requires = ["poetry>=0.12", "setuptools-rust"]
build-backend = "poetry.masonry.api"
